<div class="container justify-content-center">
  <form [formGroup]="contactForm" (ngSubmit)="submitContact()">
    <div class="row mb-3 mt-2">
      <div class="col-12">
        <h2 class="text-center">Contact Details</h2>
      </div>
    </div>
    @if(errordetails) {
    <div class="row mb-3">
      <div class="col-sm-10 alert alert-danger" role="alert">
        <span class="form-text text-danger">
          {{ errordetails }}
        </span>
      </div>
    </div>
    }
    <div class="row mb-3">
      <label for="name" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-7">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Joe"
        />
        @if(contactForm.controls['name'].touched &&
        contactForm.controls['name'].invalid) {
        <div class="col-sm-5 text-danger">Enter valid name!</div>
        }
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-7">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="ex: sv@gmail.com"
        />
        @if(contactForm.controls['email'].touched &&
        contactForm.controls['email'].invalid) {
        <div class="col-sm-5 text-danger">Invalid email!</div>
        }
      </div>
    </div>
    <div class="row mb-3">
      <label for="details" class="col-sm-3 col-form-label">Details</label>
      <div class="col-sm-7">
        <textarea
          class="form-control"
          id="details"
          formControlName="details"
        ></textarea>
        @if(contactForm.controls['details'].touched &&
        contactForm.controls['details'].invalid) {
        <div class="col-sm-5 text-danger">Enter valid details!</div>
        }
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-auto">
        <button class="btn btn-primary" [disabled]="contactForm.invalid">
          Send
        </button>
      </div>
      <div class="col-auto">
        <a class="btn btn-link" routerLink="/"> Cancel </a>
      </div>
    </div>
  </form>
</div>
